body {
  background-color: green; }

.botao-primary {
  display: inline-block;
  border-radius: 15px;
  padding: 15px;
  border: none;
  font-size: 1.5em;
  background-color: #15afcb;
  color: green; }

.botao-danger {
  display: inline-block;
  border-radius: 15px;
  padding: 15px;
  border: none;
  font-size: 1.5em;
  background-color: fuchsia; }
